version: '3.9'

services:
  mongodb:
    image: mongo:7.0
    container_name: farmseghar-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - farmseghar-network

  server:
    build: ./server
    image: farmseghar/mern-server
    container_name: farmseghar-server
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env        
    depends_on:
      - mongodb
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - farmseghar-network

  client:
    build: ./client
    image: farmseghar/mern-client
    container_name: farmseghar-client
    restart: unless-stopped
    ports:
      - "5173:5173"
    env_file:
      - .env
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - farmseghar-network

volumes:
  mongodb_data:
    driver: local

networks:
  farmseghar-network:
    driver: bridge
